
<div fxLayout="column" fxLayoutAlign="center start" *ngIf="recipe$ | async; let recipe" class='page-container'>
  <div class='title-box'>
    <span id='title' class='mat-h1'>
      {{ recipe.name }}
    </span>
    <span id='subtitle' class='mat-h2'>
      {{ recipe.author.fullName }}
    </span>
  </div>
  <!-- Image box goes here -->
  <div class='ingredients-box'>
    <h3 class='mat-h3'>Ingredients</h3>
    <app-ingredient-table [ingredients]="recipe.ingredients"></app-ingredient-table>
  </div>
  <div class='directions-box'>
    <h3 class='mat-h3'>Directions</h3>
    <app-direction-list [directions]='recipe.directions'></app-direction-list>
  </div>
  <div class='button-box'>
    <button mat-button (click)="onEdit(recipe.id)">EDIT</button>
  </div>
</div>