
<div class='form-container'>
  <form [formGroup]='recipeForm' fxLayout='column' fxLayoutAlign='start start'>
    <h2 class='mat-h2'>Edit Recipe</h2>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput  type='text' placeholder="{{recipe.name}}" formControlName='name'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput type='text' placeholder="{{recipe.author}}" formControlName='author'>
    </mat-form-field>
    <mat-form-field>
      <app-ingredients-edit [initial]="recipe.ingredients" formControlName="ingredients"></app-ingredients-edit>
    </mat-form-field>

    <button mat-button type="submit">Save</button>
  </form>
</div>
