<div class="grid-container" *ngIf="!(isError$ | async)">
  <h1 class="mat-h1">Recipes</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards$ | async" [colspan]="card.cols" [rowspan]="card.rows">
      <app-recipe-card [recipe]='card.recipe'></app-recipe-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <div fxLayout="row" fxLayoutAlign="center start">
        <a mat-fab aria-label="Create new recipe" [routerLink]="[ '/recipes/edit/', 'new' ]">
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
