
<mat-toolbar class="toolbar">
  <!-- Title -->
  <span id="title">Kitchenman</span>

  <!-- Divider -->
  <mat-divider
    [inset]="true"
    [vertical]="true">
  </mat-divider>

  <!-- Navigation buttons -->
  <a mat-button routerLink="/recipes">Recipes</a>
  <a mat-button routerLink="/plans">Meal Plans</a>
  <a mat-button routerLink="/lists">Shopping Lists</a>

  <mat-divider
    [inset]="true"
    [vertical]="true">
  </mat-divider>
  
  <!-- 
    If the user is logged in, then show the profile button.
    Otherwise, show the logged in button
   -->
  <ng-container *ngIf="loggedIn; else notLoggedIn">
    <a mat-button routerLink="/profile">Profile</a>
  </ng-container>
  <ng-template #notLoggedIn>
    <button mat-button>Login</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
