
<table mat-table #table [dataSource]="ingredients">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
    </ng-container>

    <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let ingredient"> {{ingredient.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell *matCellDef="let ingredient"> {{ingredient.unit}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let ingredient"> {{ingredient.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let ingredientRowData; columns: columnsToDisplay;"></tr>
</table>
